<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sbuBean" class="org.example.springcore.beans.SBU">
        <property name="sbuCode" value="PES-BU"/>
        <property name="sbuHead" value="Kiran Rao"/>
        <property name="sbuName" value="Product Engineering Services"/>
    </bean>

    <bean id="employeeBean" class="org.example.springcore.beans.Employee">
        <constructor-arg name="empAge" value="40"/>
        <constructor-arg name="empId" value="12345"/>
        <constructor-arg name="empName" value="Harriet"/>
        <constructor-arg name="empSalary" value="40000.0"/>
        <constructor-arg name="businessUnit" ref="sbuBean"/>
    </bean>

</beans>